<div id = "responBody">
<div style="background-color:azure;">
<div style="background-image: url('images/headerbg.png'); background-size: cover;">
<h2 class= logo><img src="images/logo.png" id= "logoimg"></h2>

    <div id= navbar>
            <a href= "/"><img src="images/home.png" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.png" id= "menuimg"></a>
            <a href="/signup"> <img src="images/signup.png" id= "menuimg"></a>
            <a href="/meals"> <img src="images/meals.png" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>
 <fieldset class= "loginfield"> 
            <legend>Sign Up For Great Things To Happen Guaranteed:</legend>
            </br>
  <a href="https://www.facebook.com/"> <img src="images/facebook.png" id= "socialmedia"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmedia"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.png" id= "socialmedia"></a>
            </br> </br>
             <img src="images/logOR.png" id= "logOR"></a>
            <form action="/signup" method="POST">
            <label for="firstname" id="first">First Name of Your Barber:</label></br>
            <input type="text"  id="email" name="firstname"/></br>
             {{#each errorMessages}}
              <div class="err1">{{this}}</div>
            {{/each}}
</br>
            <label for="lastname" id="second">Last Name of Your Father-In-Law:</label></br>
            <input type="text"  id="email" name="lastname"/></br>
             {{#each errorMessages}}
              <div class="err2">{{this}}</div>
            {{/each}}
</br>
            <label for="email" id="third">Email Address of Your Municipal District Representative:</label></br>
            <input type="text" id="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" /></br>
             {{#each errorMessages}}
              <div class="err3">{{this}}</div>
            {{/each}}
</br>
            <label for="sin" id="fourth">Mother's Maiden Name:</label></br>
            <input type="text"  id="email" name="mom" ></br>
             {{#each errorMessages}}
              <div class="err4">{{this}}</div>
            {{/each}}
</br>
            <label for="password" id="fifth">Safety Password:</label> 
            </br>
            <input type="password" id="password" name="password" ></br>
             {{#each errorMessages}}
              <div class="err5">{{this}}</div>
            {{/each}}
            </br>
            <label for="confirmpassword" id="sixth">Confirm Safety Password:</label></br>
            <input type="password"  id="email" name="confirmpassword" ></br>
             {{#each errorMessages}}
              <div class="err6">{{this}}</div>
            {{/each}}
           </br>
           <div  id="loginbuttondiv">
            <button id="loginbutton">Sign Up NOW PLEASE!!!!!!</button>
            </div>
             </br> </br> </br> </br> </br>
            </form>
            </legend>
            </fieldset>
 </br> </br> </br> </br></br> </br>
<div style="background-image: url('images/footerbg.png');" id="footer"> 
<footer >

<p id="foot">SAIKOU SERVICE!</p>
<p id="foot">About Us!</p>
<p id="foot">Contact Us! [Please don't]</p>
<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.png" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.png" id= "socialmediafoot"></a>
</div>
</footer>
</div>
</body>
</body>
</div>
</div>